<!DOCTYPE html>
<html>
<head>
<meta charset='utf-8'>
<title>main</title>
</head>
<body>
<h1>main page</h1>
<h3>welcome, <%= id %> 번째 가입고객님!!!</h3>
<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ab vero eos nemo aperiam quibusdam eveniet ipsam libero a sed sunt dolorum possimus ex culpa iste officia maiores, assumenda nobis sequi.</p>

<div><a href="/logout">logout</a></div>
</body>
</html>